@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Manrope:wght@800&family=Overpass:wght@400;700&display=swap');

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #edf2f8;
    min-height: 100vh; 
    font-family: "Barlow Semi Condensed";
    display: grid;
    place-content: center;
}

body::-webkit-scrollbar{
    display: none;
}

.testimonial-grid{
    min-height: 100vh;
    padding: 60px;
    display: grid;
    gap: 1em;
   
}



h4{
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: bold;
}

p{
    margin-top: 20px;
}

.person-container {
    display: flex;
    align-items: center;

    
}

.img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid white;
}

.name-container {
    width: 10em;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    font-size: 18px;
}

.card {
    
    z-index: 2;
    padding: 10px;
    border-radius: 10px;
}

.card.daniel{
    background-color: #733fc8;  
    background-image: url("./images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right 10%;
}

.card.jonathan{
    background-color: #49556b;
    
}

.card.jeanette{
    background-color: #ffffff;
}


.card.patrick {
    background-color: #18202d;
    
}

.card.kirra {
    background-color: #ffffff;

}


.card.daniel h4,.card.daniel h5, .card.jonathan h4,.card.jonathan h5, .card.patrick h4, .card.patrick h5 {
    color: white;  


}

.card.daniel p, .card.daniel h6, .card.jonathan p, .card.jonathan h6, .card.patrick p, .card.patrick h6  {
    color: rgba(255, 255, 255, 0.762);  
   }

.card.jeanette h4,.card.jeanette h5, .card.kirra h4, .card.kirra h5{
    color: #4c575e;
}

.card.jeanette p,.card.jeanette h6, .card.kirra p, .card.kirra h6{
    color: #4c575e;
}

@media (min-width: 870px) {
    .testimonial-grid {
        height: 100vh;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
    }

    .card.patrick {
        background-color: #18202d;
        grid-column: 2/4;
    }

    .card.kirra {
        background-color: #ffffff;

        grid-column: 4;
        grid-row: 1/3;
    }

    .card.daniel {
        background-color: #733fc8;
        position: relative;

        grid-column: 1/3;
    }

}